.fontxlarge{
    font-size: 22px;
}

.fonttext{
    font-size: 17px;
}

.fonttitle{
    font-size: large;
}

.widthimage{
    width: 40px;
}

.buttonsize{
    width: 35px;
    height: 35px;
}

.iconsize{
    font-size: 40px;
}

.spaced-button {
    margin-bottom: 20px;
}
