/* Navbar */
.nav1{
    font-size: 14px;
}

.nav2 .form-control::placeholder {
    color: #ACB5BD; /* Ganti dengan warna yang Anda inginkan */
}

.form-control.text-black {
    color: black !important;
}

nav .hastag{
    font-size: 12px;
}

/* Footer */
.second-footer{
    font-size: 13px;
}

.second-footer .titik{
    font-size: 10px;
}

.nav2 .guest .btn-outline-primary{
    border-color: white;
    color: white;
}

.nav2 .guest .btn-outline-primary{
    background-color: transparent;
    color: white;
}


.nav2 .guest .btn-primary{
    background-color: #9477E1;
}

.auth-member .auth-member-figure-label{
    margin-top: -10px;
}

.register .image-profile{
    width: 100px;
    height: 100px;
}

.register .image-profile .bg-upload{
    width: 34px;
    height: 34px;
}

.auth-content .profile-input{
    cursor: pointer;
}
